.idea
.vscode
.DS_Store
node_modules
dist
coverage

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ensure GitHub issue templates are tracked
# (do not add .github/ISSUE_TEMPLATE/ to ignore list)